body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  color: orangered;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 150px;
  margin: 0;
  animation: namn_animation 5s;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;

  #searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //margin-top: 20vh;
    #searchText {
      width: 300px;
      height: 30px;
      box-shadow: orangered;
    }
  }
  button {
    border-radius: 20%;
    height: 40px;
    width: 70px;
    margin-top: 10px;
  }
}

button:hover {
  height: 40px;
  width: 200px;
  border-radius: 10%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;

  h3 {
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  img {
    height: 400px;
    width: 300px;
    border: 2px solid orangered;
    color: white;
  }
}

img:hover {
  opacity: 20%;
}

@keyframes namn_animation {
  0% {
    color: #4c4ae2;
  }
  25% {
    color: palevioletred;
  }
  75% {
    color: #488555;
  }
  100% {
    color: orangered;
  }
}
